.emoji div img {
    width: 100px;
    height: 100px;
}
.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    
}

.emoji {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: white;
    width: 30%;
    padding: 50px;
    -webkit-box-shadow: 3px 10px 43px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 43px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 43px 0px rgba(0,0,0,0.75);
}

.emoji div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}

.history div img {
    width: 20px;
}
.history {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 500px;
    background: white;
    width: 30%;
    padding: 50px;
}

body {
    background-image: url("back.jpg");
    font-family: 'Roboto', sans-serif;
}